@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap');

body{
    /* font-family: 'Inter', sans-serif; */
    margin: 0;
    display: flex;
    min-height: 100vh;
    width: 100vw;
}
nav{
    background-color: #151515;
    padding: 20px;
    width: 15%;
}
main{
    background-color: #191919ef;
    width: 85%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
main input:nth-of-type(1){
    background-color: #393939;
    border-radius: 5px;
    padding: 5px;
    width: 50%;
    border: none;
}

main input:nth-of-type(1):focus{
    outline: none;
    border: 1px solid #151515; 
    color: aliceblue;
}
main button:nth-of-type(1){
    background-color: #4E00DF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px ;
    color: #ffffff;
}
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 80vw;
    width: 111%;
    overflow-x: hidden;
    display: flex;

}
.carousel-kid {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  color: white;
}
.carousel-kid::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.carousel-kid p {
  position: relative;
  z-index: 2;
}
/* .carousel-kid:nth-child(1) {
background-image: url(images/carousel/god-of-war-video-game-3840x2160-13010.jpg);
background-size: cover;
background-repeat: no-repeat;
} */

/* .carousel-kid:nth-child(2) {
  background: #5d34f2;
}

.carousel-kid:nth-child(3) {
  background: #4300da;
}
.carousel-kid:nth-child(4) {
  background: #3700b8;
}
.carousel-kid:nth-child(5) {
  background: #2a018a;
}
.carousel-kid:nth-child(5) {
  background: #1f0164;
}
.carousel-kid:nth-child(6) {
  background: #130040;
} */
.carousel> * {

    
      flex: 0 0 100%;
    
  }
.carousel-kid {
    will-change: transform;
    animation: scrolling 30s linear infinite;
    /* height: 100%; */
    padding: 15px 15px;
    box-sizing: border-box;
  }
.carouselRating{

  z-index: 20;
  font-family:'Inter',sans-serif ;
  color: orange;
  text-shadow: #151515;
  font-weight: bold;
  margin: 0;
}
    
.carouselName{
  font-family: 'Inria Sans', sans-serif;
  margin:8px 0px;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
}
.card-parent{
  display: flex;
  flex-direction: column;
}
.card-parent>h2{
  color: #ffffff;
  font-family: 'Inria Sans', sans-serif;
  letter-spacing: 2px;
  font-weight: bold;

}
#most-popular,#pc-games{
  height: 250px;
  display: flex;
  gap: 15px;
  overflow-x: auto;

}
#most-popular>div>img{
  height: 100%;
  width: 416px;

}
#pc-games>div>img{
  height: 100%;
  width: 416px;
}
#most-popular>div{
  display: flex;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  z-index: 20;
  position: relative;
}
#most-popular>div:hover{

filter: brightness(70%);
}
#most-popular>div>h3{
  position: absolute;
  bottom:0px;
  left: 10px;
  color: #ffffff;
  text-shadow: 2px 2px 4px #151515;
}
@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    13%{
      transform: translateX(0);
    }
    15% {
      transform: translateX(-100%);
    }
    28%{
      transform: translateX(-100%);
    }
    30%{
      transform: translateX(-200%);
    }
    42%{
      transform: translateX(-200%);
    }
    45%{
      transform: translateX(-300%);
    }
    58%{
      transform: translateX(-300%);
    }
    60%{
      transform: translateX(-400%);
    }
    72%{
      transform: translateX(-400%);
    }
    75%{
      transform: translateX(-500%);
    }
    88%{
      transform: translateX(-500%);
    }
    90%{
      transform: translateX(-600%);
    }
    99%{
      transform: translateX(-600%);
    }
    100%{
      transform: translateX(0);
    }
  }
